{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Category: {{ category.name }}</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    <button type="submit">Save Changes</button>
    {{ form_end(form) }}

    <a href="{{ path('category_show', { id: category.id }) }}">Cancel</a>
{% endblock %}
