{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Listing: {{ listing.name }}</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.category) }}

    <button type="submit">Save Changes</button>
    {{ form_end(form) }}

    <a href="{{ path('listing_show', { id: listing.id }) }}">Cancel</a>
{% endblock %}
