{% extends 'base.html.twig' %}

{% block body %}
    <h1>New Listing</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.price) }}
    {{ form_row(form.category) }}

    <button type="submit">Create Listing</button>
    {{ form_end(form) }}

    <a href="{{ path('listing_index') }}">Back to listings</a>
{% endblock %}
