{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Account</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    <p><small>Leave password blank to keep your current password.</small></p>
    <button type="submit">Save Changes</button>
    {{ form_end(form) }}
    <a href="{{ path('user_show', { id: user.id }) }}">Cancel</a>
{% endblock %}
